.dark_theme {
	--bg-color: #090950;
	--inverted-bg-color: #dedeeb;
	--primary-color: #04ff04;
	--secondary-color: #049604;
	--inverted-primary-color: #0450ff;
	--inverted-secondary-color: #041c65;
}

.dark_theme_tooltip {
	--bs-tooltip-bg: lightblue;
	--bs-tooltip-color: darkgreen;
	--bs-tooltip-opacity: 0.8;
}
